Source: gnustep-libobjc2
Section: gnustep
Priority: optional
Uploaders: Chris Wulff <crwulff@gmail.com>
Maintainer: Chris Wulff <crwulff@gmail.com>
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 7),
		clang (>= 3.1)
Homepage: http://gnustep.org
Vcs-Git: git://github.com/gnustep/gnustep-libobjc2.git
Vcs-Browser: https://github.com/gnustep/gnustep-libobjc2

Package: gnustep-libobjc2
Section: libs
Architecture: any
Depends: ${shlibs:Depends},
	 ${misc:Depends},
	 ${gnustep:Depends}
Description: GNUstep Objective-C library
  Alternative objective-c library.

Package: gnustep-libobjc2-dev
Section: libdevel
Architecture: any
Depends: gnustep-libobjc2 (= ${binary:Version}),
	 ${misc:Depends},
	 ${gnustep:Depends}
Description: GNUstep Objective-C header files and development libraries
 This package contains the header files and static libraries required
 to build applications against the GNUstep Objective-C library.

Package: gnustep-libobjc2-dbg
Section: debug
Architecture: any
Priority: extra
Depends: gnustep-libobjc2 (= ${binary:Version}),
	 ${misc:Depends},
	 ${gnustep:Depends}
Description: GNUstep Objective-C library - debugging symbols
 This package contains the debigging symbols of the GNUstep Objective-C
 Library.  This package can be used to provide symbol names to a debugger to
 aid debugging.
